{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<section class="login" class="d-flex justify-content-center align-items-center align-content-around "style="background-color: #F4F7FA;height:100vh;
">     
  <div class="container">
    <div class="login-content">
    <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">

      <div class="col-xl-6 col-md-8 col-12   bg-white p-3 rounded">

<h3 class="inner-title text-center">{% trans "Password Reset" %}</h3>



    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="my-2 font-monospace">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset py-3">
        {% csrf_token %}
        {{ form|crispy}}
        <div class="d-grid gap-2 col-9 mx-auto">
   <button class="btn btn-success btn-block" type="submit">{% trans 'Reset My Password' %}</button>
</div>
        {% comment %} <input type="submit" value="{% trans 'Reset My Password' %}" /> {% endcomment %}
    </form>

    <p class="my-2 font-monospace">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

</div>
</div>
        </div>
      </div>
    
  
    </section>
    {% endblock %}
