<!-- 
    

{% if user.is_authenticated %}

<form action="" method="POST">
   {% csrf_token %}
  {% comment %} {{ form | crispy }} {% endcomment %}
  {{ form.as_p}}
    {% comment %} <div>
             <label for="comment">Type Comment here</label>
            {{ form.comment }} {% csrf_token %} <input type="submit" value="Post"></div>
         {% endcomment %}
 <button type="submit"> Submit</button>
 <br><br><br><br><br>
</form>
{% else %}
login to comment
{% endif %}
<hr>
<hr>
<hr>
{% for comment in comments %}
{% if comment.is_parent %}
<h3><b>{{comment.user}} : </b> {{comment.comment}}</h3>
&nbsp; &nbsp; &nbsp;
<form action="" method="POST">
   {% csrf_token %}
  
    <div>
            &nbsp; &nbsp; &nbsp; <label for="comment">Reply</label>
&nbsp; &nbsp; &nbsp;<input type="text" name="comment" id=""><input type="hidden" name="parent" value={{comment.pk}}>
            <input type="submit" value="Post"></div>
         
 <br>
</form>
{% endif %}
{% for replies in comment.children %}
<h3>  &nbsp;&nbsp;&nbsp; <b>{{comment.user}}</b> : {{replies.comment}}</h3>

{% endfor %}
{% empty %}
<p>no comments</p>
{% endfor %} 


{% comment %} </div>

  
    
  </div>
</div> {% endcomment %} -->