{% extends 'base.html' %}
{% block title %}Home {% endblock title %}

{% block content %}
<main>
 
<section class=hero-area>
<div class=verticle-lines>
<div class="vlines one"></div>
<div class="vlines two"></div>
<div class="vlines three"></div>
<div class="vlines four"></div>
</div>

<div class=hero-inner>
<div class=container>
<div class="row ">
<div class="col-lg-6 co-12">
<div class=home-slider>
<div class=hero-text>
<h5 class="wow fadeInUp" data-wow-delay=.3s>LET’S SHIFT YOUR BUSINESS</h5>
<h1 class="wow fadeInUp" data-wow-delay=.5s>Shift your business<br> fast with Bold.
</h1>
<p class="wow fadeInUp" data-wow-delay=.7s>Lorem Ipsum is simply dummy text of the
printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
<br>dummy text ever since.</p>
<div class="button wow fadeInUp" data-wow-delay=.9s>
<a href=about-us.html class=btn>Discover More</a>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-12">
<div class=hero-image>
<img class=shape3 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAABPCAMAAAAp4J67AAAAclBMVEUAAADvUFD2Skr3Skr2S0v1S0v2S0v0Skr2S0v1TEz3TEz2S0v2S0v3SEj2S0v2Skr2Skr2S0v2S0v2TEz2S0v1S0vuRET1TU3/QED1S0v/SUn2S0v1TEz2T0/2S0v/Tk72TEz2S0v/TU3/VVX1SUn2S0vn63adAAAAJXRSTlMAEMBg0KDwMO+AQM+wIOCvkN9wvb+fD1AEZgeSgx3MDVc6CgNJMRyZQAAAAblJREFUeF59ldmO3SAQRMEGjNe7zuQmN+ty/v8Xo5EGqJaY+K11qO5WuQQuMrr+B4MC30ggCzgRK9lgaeQm5xZYvWhoxQD3ij7D3GYeonpNMFU0JVhLOUNemiqIKgKjQXf3AZLdrwYtsNViBPaKkpo0I1YMIOYlsSJwNKLnvLX8DD9a57mrGSF5mZM5KjB/disdzlgQS4fYAdO7GemTzFhL7TNMoghFIfuWmWGvq8u+3yDtPSvdV1kGQ04gRmQh3zl0+7Gv2SG3FZ6w655rrX7CyaQj1/QdMPfRBLyIh4LGN+QVXWrAEqzmX42a8xfdfXCKWuoP6WATO4D9SaIJNglfdI4lslu3W8TEeoEgOdL4vHfwd0iLgjI0WMWUIfiSoy7YIe0WRC85UC9i15a/MPTz9hSX03+SiO/ffDPMfY1PMHUT7656o/2CiwZHDm6wdlC5BVv30SKyQdlbpLvbxPbvqk3PBTnmdhWp5bayxp7htybZDPrT4rIIOUgmR2plrCB4Z2/ymqPJgusb8BermCm9BhgEnIvCLaKwttu38TVX4EJZXV7AXhKjZMy+2zfpYL8T2wfk4R8F/AMVtjdcOCT8hQAAAABJRU5ErkJggg==" alt="#" >
</div>
</div>
</div>
</div>
</div>

</section>
<hr>
<div class="latest-news-area section">
<div class=container>
<div class=row>
<div class=col-12>
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>Popular Blogs</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>Popular Blog</h2>
<h3 class=gray-bg>Blog</h3>
<p class="wow fadeInUp" data-wow-delay=.6s>There are many variations of passages of Lorem
Ipsum available, but the majority have suffered alteration in some form.</p>
</div>
</div>
</div>
<div class=row>
{% for popular_blog in popular_blogs %} 
<div class="col-lg-3 col-md-6 col-12">
<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=.2s>
<div class=image>
<img class=thumb src="{{popular_blog.photo.url}}" alt="#" data-pagespeed-url-hash=1225493998 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class=content-body>
<a class=cat href="#">Career</a>
<h4 class=title><a href="{{popular_blog.get_absolute_url}}">{{popular_blog.title | truncatechars:50}}</a></h4>
<p>{{popular_blog.content | truncatechars_html:150 }}.</p>

</div>
</div>
</div>
 {% empty %}
 {% endfor %}




</div>
</div>
</div>
<hr>





<section class="services style2 section">
<div class=container>
<div class=row>
<div class=col-12>
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>Services</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>What we do.</h2>
<p class="wow fadeInUp" data-wow-delay=.6s>There are many variations of passages of Lorem
Ipsum available, but the majority have suffered alteration in some form.</p>
<h3 class=overlay-text>Services</h3>
</div>
</div>
</div>
<div class=single-head>
<div class=row>
    {% for work in works %}
    <div class="col-lg-4 col-md-6 col-12">
<div class="single-service wow fadeInUp" data-wow-delay=.2s>
<img src="{{work.image.url}}" alt="..." >
<h3><a >{{work.title}}</a></h3>
<p>{{work.content }}
</p>
{% comment %} <a href=service-single.html class=more>Learn More <i class="lni lni-arrow-right"></i></a> {% endcomment %}
</div>
</div>
    {% endfor %}



</div>
</div>
</div>
</section>
<hr>




<section class="features style2 section">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section-title">
<span class="wow fadeInDown" data-wow-delay=".2s">Featured Blogs</span>
<h2 class="wow fadeInUp" data-wow-delay=".4s">features we offer for you</h2>
<p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
Ipsum available, but the majority have suffered alteration in some form.</p>
<h3 class="overlay-text">features</h3>
</div>
</div>
</div>
<div class="single-head">
<div class="row">
    {% for featured_blog in featured_blogs %}
    <div class="col-lg-3 col-md-6 col-12">
<div class="single-feature wow fadeInUp" data-wow-delay=".2s">
    <div class="image">
        <img class="thumb" src="{{ featured_blog.photo_url}}" alt="...">
    </div>

<h3><a href="{{featured_blog.get_absolute_url}}">{{featured_blog.title | truncatechars:50}}</a></h3>
<p>{{featured_blog.content | truncatechars_html:150 }}
</p>

</div>
</div>
     {% empty%}

      {% endfor %}



</div>
</div>
</div>
</section>



<hr>
<section class="newsletter-area section">
<div class=container>
<div class="row ">
<div class="col-lg-8 offset-lg-2 col-12">
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>Subscribe Now</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>Subscribe to our newsletter to get latest news on
your inbox.</h2>
<h3 class=gray-bg>Newsletter</h3>
</div>

<div class="subscribe-text wow fadeInUp" data-wow-delay=.2s>
<form action="mail/mail.php" method=get target=_blank class=newsletter-inner>
<input name=EMAIL placeholder="Your email address" class=common-input onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type=email>
<div class=button>
<button class=btn>Subscribe Now!</button>
</div>
</form>
</div>

</div>
</div>
</div>
</section>
</main>
 {% endblock %}