{% extends 'base.html' %}
{% block title %}Home {% endblock title %}

{% block content %}
<main>
 
<section class=hero-area>
<div class=verticle-lines>
<div class="vlines one"></div>
<div class="vlines two"></div>
<div class="vlines three"></div>
<div class="vlines four"></div>
</div>

<div class=hero-inner>
<div class=container>
<div class="row ">
<div class="col-lg-6 co-12">
<div class=home-slider>
<div class=hero-text>
<h5 class="wow fadeInUp" data-wow-delay=.3s>LET’S SHIFT YOUR BUSINESS</h5>
<h1 class="wow fadeInUp" data-wow-delay=.5s>Shift your business<br> fast with Bold.
</h1>
<p class="wow fadeInUp" data-wow-delay=.7s>Lorem Ipsum is simply dummy text of the
printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
<br>dummy text ever since.</p>
<div class="button wow fadeInUp" data-wow-delay=.9s>
<a href=about-us.html class=btn>Discover More</a>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-12">
<div class=hero-image>
<img class=shape3 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAABPCAMAAAAp4J67AAAAclBMVEUAAADvUFD2Skr3Skr2S0v1S0v2S0v0Skr2S0v1TEz3TEz2S0v2S0v3SEj2S0v2Skr2Skr2S0v2S0v2TEz2S0v1S0vuRET1TU3/QED1S0v/SUn2S0v1TEz2T0/2S0v/Tk72TEz2S0v/TU3/VVX1SUn2S0vn63adAAAAJXRSTlMAEMBg0KDwMO+AQM+wIOCvkN9wvb+fD1AEZgeSgx3MDVc6CgNJMRyZQAAAAblJREFUeF59ldmO3SAQRMEGjNe7zuQmN+ty/v8Xo5EGqJaY+K11qO5WuQQuMrr+B4MC30ggCzgRK9lgaeQm5xZYvWhoxQD3ij7D3GYeonpNMFU0JVhLOUNemiqIKgKjQXf3AZLdrwYtsNViBPaKkpo0I1YMIOYlsSJwNKLnvLX8DD9a57mrGSF5mZM5KjB/disdzlgQS4fYAdO7GemTzFhL7TNMoghFIfuWmWGvq8u+3yDtPSvdV1kGQ04gRmQh3zl0+7Gv2SG3FZ6w655rrX7CyaQj1/QdMPfRBLyIh4LGN+QVXWrAEqzmX42a8xfdfXCKWuoP6WATO4D9SaIJNglfdI4lslu3W8TEeoEgOdL4vHfwd0iLgjI0WMWUIfiSoy7YIe0WRC85UC9i15a/MPTz9hSX03+SiO/ffDPMfY1PMHUT7656o/2CiwZHDm6wdlC5BVv30SKyQdlbpLvbxPbvqk3PBTnmdhWp5bayxp7htybZDPrT4rIIOUgmR2plrCB4Z2/ymqPJgusb8BermCm9BhgEnIvCLaKwttu38TVX4EJZXV7AXhKjZMy+2zfpYL8T2wfk4R8F/AMVtjdcOCT8hQAAAABJRU5ErkJggg==" alt="#" >
</div>
</div>
</div>
</div>
</div>

</section>
<hr>
<div class="latest-news-area section">
<div class=container>
<div class=row>
<div class=col-12>
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>latest news</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>Latest News & Blog</h2>
<h3 class=gray-bg>Blog</h3>
<p class="wow fadeInUp" data-wow-delay=.6s>There are many variations of passages of Lorem
Ipsum available, but the majority have suffered alteration in some form.</p>
</div>
</div>
</div>
<div class=row>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=.2s>
<div class=image>
<img class=thumb src="assets/images/blog/xblog-grid1.jpg.pagespeed.ic.2T9mSLXmBp.webp" alt="#" data-pagespeed-url-hash=1225493998 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class=content-body>
<a class=cat href="#">Career</a>
<h4 class=title><a href=blog-single-sidebar.html>How to win any job you want. Get
started with 5 steps.</a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
has been the industry's.</p>
<div class=button>
<a href=blog-single-sidebar.html class=btn>Read More</a>
</div>
</div>
</div>

</div>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=.4s>
<div class=image>
<img class=thumb src="assets/images/blog/xblog-grid2.jpg.pagespeed.ic.rHMmCd9iTI.webp" alt="#" data-pagespeed-url-hash=1519993919 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class=content-body>
<a class=cat href="#">Lifestyle</a>
<h4 class=title><a href=blog-single-sidebar.html>10 ways to readuce your office work
depression.</a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
has been the industry's.</p>
<div class=button>
<a href=blog-single-sidebar.html class=btn>Read More</a>
</div>
</div>
</div>

</div>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=.6s>
<div class=image>
<img class=thumb src="assets/images/blog/xblog-grid3.jpg.pagespeed.ic.8qg-iy6zXf.webp" alt="#" data-pagespeed-url-hash=1814493840 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class=content-body>
<a class=cat href="#">Career</a>
<h4 class=title><a href=blog-single-sidebar.html>Why should you work as a team even on
small projects.</a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
has been the industry's.</p>
<div class=button>
<a href=blog-single-sidebar.html class=btn>Read More</a>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<hr>





<section class="services style2 section">
<div class=container>
<div class=row>
<div class=col-12>
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>Services</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>Services we offer for you</h2>
<p class="wow fadeInUp" data-wow-delay=.6s>There are many variations of passages of Lorem
Ipsum available, but the majority have suffered alteration in some form.</p>
<h3 class=overlay-text>Services</h3>
</div>
</div>
</div>
<div class=single-head>
<div class=row>
<div class="col-lg-4 col-md-6 col-12">
<div class="single-service wow fadeInUp" data-wow-delay=.2s>
<img src="assets/images/service/web-design.svg" alt="#" data-pagespeed-url-hash=2467342709 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<h3><a href=service-single.html>Web Development</a></h3>
<p>First impressions count! Make sure your brand works for you. We offer digital marketing.
</p>
<a href=service-single.html class=more>Learn More <i class="lni lni-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12">
<div class="single-service wow fadeInUp" data-wow-delay=.4s>
<img src="assets/images/service/graphics-design.svg" alt="#" data-pagespeed-url-hash=2392963962 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<h3><a href=service-single.html>Graphics Design</a></h3>
<p>First impressions count! Make sure your brand works for you. We offer digital marketing.
</p>
<a href=service-single.html class=more>Learn More <i class="lni lni-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12">
<div class="single-service wow fadeInUp" data-wow-delay=.6s>
<img src="assets/images/service/content-writing.svg" alt="#" data-pagespeed-url-hash=3134920154 onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<h3><a href=service-single.html>Content Writing</a></h3>
<p>First impressions count! Make sure your brand works for you. We offer digital marketing.
</p>
<a href=service-single.html class=more>Learn More <i class="lni lni-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</section>
<hr>


<div class="cta-section overlay section">
<div class=container>
<div class="row align-items-center">
<div class="col-lg-5 col-md-6 col-12">
<form class="cta-form wow fadeInLeft" data-wow-delay=.3s>
<div class=form-group>
<label for=ctaName>Name </label>
<input type=text class=form-control id=ctaName placeholder="John Doe" required>
</div>
<div class=form-group>
<label for=ctaEmail>Email </label>
<input type=email class="form-control gr-text-11" id=ctaEmail placeholder="john@mail.com" required>
</div>
<div class=form-group>
<label for=ctaPhone>Phone </label>
<input type=email class="form-control gr-text-11" id=ctaPhone placeholder=123-456-7890>
</div>
<div class=form-group>
<label for=agentCount class=pr-lg-4>Which service do you need? </label>
<select id=agentCount class="gr-text-11 mb-7">
<option value=1 data-display="Select a service">Digital Marketing</option>
<option value=2>Content Writing</option>
<option value=3>Graphic Design</option>
<option value=4>SEO for Business</option>
</select>
</div>
<div class=button>
<button type=submit class=btn>Get Free
Consultancy</button>
</div>
</form>
</div>
<div class="col-lg-7 col-md-6 col-12">
<div class="title wow fadeInRight" data-wow-delay=.5s>
<div class=icon>
<i class="lni lni-phone"></i>
</div>
<h2 class="title gr-text-4 mb-6">Get a free consultancy<br> from our expert right now!</h2>
<p class="gr-text-8 pr-lg-7 mb-0">With lots of unique blocks, you can easily build a<br> page
without coding. Build your next landing<br> page so quickly with Albino.</p>
</div>
</div>
</div>
</div>
</div>


<hr>
<section class="newsletter-area section">
<div class=container>
<div class="row ">
<div class="col-lg-8 offset-lg-2 col-12">
<div class=section-title>
<span class="wow fadeInDown" data-wow-delay=.2s>Subscribe Now</span>
<h2 class="wow fadeInUp" data-wow-delay=.4s>Subscribe to our newsletter to get latest news on
your inbox.</h2>
<h3 class=gray-bg>Newsletter</h3>
</div>

<div class="subscribe-text wow fadeInUp" data-wow-delay=.2s>
<form action="mail/mail.php" method=get target=_blank class=newsletter-inner>
<input name=EMAIL placeholder="Your email address" class=common-input onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type=email>
<div class=button>
<button class=btn>Subscribe Now!</button>
</div>
</form>
</div>

</div>
</div>
</div>
</section>
</main>
 {% endblock %}