{% extends 'base.html' %}
{% block title %} Blogs {% endblock title %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
{% load resent_blogs %}
{% load tags %}
{% load hitcount_tags %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class="col-md-8">
      
      {% for blog in object_list %}
<br>    
      <div class="card" style="">
  <img src="{{blog.photo_url}}" class="carmd-img-top" alt="..."height="150" width="150"> 
  <div class="card-body">
    <h5 class="card-title"> <a href="{{blog.get_absolute_url}}">{{blog.title}}</a> </h5>
    <p>tittle headline :{{blog.headline | safe}}</p>
    <p> <i class="fa-regular fa-user"></i>: {{blog.user}} ,<i class="fa-sharp fa-regular fa-eye"></i>: {% get_hit_count for blog %} 44, <i class="fa-sharp fa-regular fa-comment"></i> :{{blog.comments}} 66, <i class="fa-sharp fa-regular fa-heart"></i>: {{blog.likes}}55,minutes read <i class="fa-sharp fa-regular fa-clock"></i>{{blog.created}}</p> 
    <p class="card-text">
       {{blog.content | truncatewords_html:20}}</p> content:
       <p> category : {{blog.category}}</p> 
       {% for tag in blog.tags.all %}
       <button type="button" class="btn btn-primary">{{ tag }}  </button>


{% endfor %}

  </div>
</div>

        {% empty %}
no blogs
      {% endfor %}
     {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>

  {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
{% endif %}
        
    </div>
  <div class="col-md-4">

    <div>
<form action="{% url 'search' %}" method="get">
  <input type="search" name="q"  class="form-control" id="">
  <input type="submit" value="Search">
</form>

    </div>
    <h2><u>reccent blogs</u></h2>
    {% resent_blogs  as blogs %}
{% for resent_blog in blogs %}
<p>title: {{resent_blog.title}}</p>
{% empty %}
no recent blogs
{% endfor %}

<h2>tags </h2>
{% tags as tags %}
{% for tag in tags %}
<button class="btn btn-secondary">{{tag.name}}</button>
{% endfor %}
  </div>
    
  </div>
</div>

{% endblock content %}