{% extends 'base.html' %}
{% block title %} Blogs {% endblock title %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
{% load hitcount_tags %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class="col">
      
      {% for blog in blogs %}
<br>    
      <div class="card" style="width: 58rem;">
  <img src="{{blog.photo_url}}" class="carmd-img-top" alt="..."height="150" width="150"> 
  <div class="card-body">
    <h5 class="card-title"> <a href="{{blog.get_absolute_url}}">{{blog.title}}</a> </h5>
    <p> <i class="fa-regular fa-user"></i>: {{blog.user}} ,<i class="fa-sharp fa-regular fa-eye"></i>: {% get_hit_count for blog %} 44, <i class="fa-sharp fa-regular fa-comment"></i> :{{blog.comments}} 66, <i class="fa-sharp fa-regular fa-heart"></i>: {{blog.likes}}55,minutes read <i class="fa-sharp fa-regular fa-clock"></i>{{blog.created}}</p> 
    <p class="card-text">
       {{blog.content}}</p> content:
       <p> category : {{blog.category}}</p> 
       {% for tag in blog.tags.all %}
       <button type="button" class="btn btn-primary">{{ tag }}  </button>


{% endfor %}

  </div>
</div>

        {% empty %}
no blogs
      {% endfor %}
        
    </div>
  
    
  </div>
</div>

{% endblock content %}