{% extends 'base.html' %}
{% block title %} Blog Bookmarks {% endblock title %}
{% load static %}
{% load humanize %}
{% load category %}
{% load tags %}
{% load hitcount_tags %}
{% block content %}


<!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
breadcrumb START -->



<div class="breadcrumbs overlay">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Blog Bookmarks</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav">
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'blogs' %}">Blogs</a></li>
<li>Blog Bookmarks</li>
</ul>
</div>
</div>
</div>
</div>
 <!-- =======================
breadcrumb end --> 




<!-- =======================
bloglist START --> 



<section class="section latest-news-area blog-list">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-7 col-12">
<div class="row">



 {% for blog in bookmarks %}
                        <!-- Card item START -->

<div class="col-lg-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".4s">
<div class="image">
<img class="thumb" src="{{blog.photo_url}}" alt="..." height="200" width="auto">
</div>
<div class="content-body">
                {% for tag in blog.tags.all %}
<a class="btn btn-outline-danger btn-sm" href="{% url 'tags' tag.name %}">{{ tag }} </a>
{% endfor %}
<h4 class="title mb-2"><a href="{{blog.get_absolute_url}}">{{blog.title}}.</a></h4>
<a href="{% url 'user-profile' blog.user.user_profile.slug %}">
<i class="lni lni-user  mx-2"></i>
{{blog.user.username}}
</a> 
<a >
<i class="lni lni-calendar mx-2"></i>
{{blog.created |naturalday}}
</a>
<p>{{blog.content | truncatewords_html:20}} </p>

</div>
</div>

</div>
{% empty %}
<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".4s">

<div class="content-body">
               
<p class="text-center">No Bookmarks Found ! </p>

</div>
</div>
 <!-- Card item END -->
                       {% endfor %}
                       
</div>
<!-- =======================
bloglist end -->

<!-- =======================
pagination start-->
<div class="pagination center">
<ul class="pagination-list">
     {% if bookmarks.has_previous %}

<li><a href="?page={{ bookmarks.previous_page_number }}"><i class="lni lni-chevron-left"></i></a></li>

 {% if bookmarks.number > 3 %}
    <a href="?page=1">1</a>
    {% if bookmarks.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in bookmarks.paginator.page_range %}
  {% if bookmarks.number == num %}

<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
{% elif num > bookmarks.number|add:'-3' and num < bookmarks.number|add:'3' %}

<li><a href="?page={{ num }}">{{ num }}</a></li>
{% endif %}
{% endfor %}

{% if bookmarks.has_next %}
  {% if bookmarks.number < bookmarks.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ bookmarks.paginator.num_pages }}">{{ bookmarks.paginator.num_pages }}</a>
  {% elif bookmarks.number < bookmarks.paginator.num_pages|add:'-2' %}
    <a href="?page={{ bookmarks.paginator.num_pages }}">{{ bookmarks.paginator.num_pages }}</a>
  {% endif %}

<li><a href="?page={{ bookmarks.next_page_number }}"><i class="lni lni-chevron-right"></i></a></li>
{% endif %}
</ul>
</div>
<!-- =======================
pagination end -->

</div>
<!-- =======================
bloglist end -->
<aside class="col-lg-4 col-md-5 col-12">
<div class="sidebar">

<div class="widget popular-tag-widget">
<h5 class="widget-title">Categories</h5>
<div class="tags">
  {% category as categories %}
  {% for category in categories %}
<a  class ="btn btn-outline-primary" href="{% url 'categories' category.name %}">{{category.name}}</a>
  {% empty %}
  <p>No Category Found !</p>
  {% endfor %}


</div>
</div>

<div class="widget popular-tag-widget">
<h5 class="widget-title"> Tags</h5>

<div class="tags">
    {% tags as tags %}
{% for tag in tags %}

<a href="{% url 'tags' tag.name %}">{{tag.name}}</a>
{% endfor %}
</div>
</div> 

<div class="widget call-us">
<div class="content">
<h4>Call us need help?<span>01-2222-456</span></h4>
<div class="button">
<a href="#" class="btn">call us</a>
</div>
</div>
</div>

</div>
</aside>
</div>
</div>
</section>




    </main>
    <!-- **************** MAIN CONTENT END **************** -->





{% endblock content %}