{% extends 'base.html' %}
{% block title %} Blogs {% endblock title %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
{% load resent_blogs %}
{% load tags %}
{% load hitcount_tags %}
{% load humanize %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
breadcrumb START -->



<div class="breadcrumbs overlay">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Blogs</h1>
{% comment %} <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
been the industry's standard dummy text</p> {% endcomment %}
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav">
<li><a href="index.html">Home</a></li>
<li>Blogs</li>
</ul>
</div>
</div>
</div>
</div>
 <!-- =======================
breadcrumb end --> 




<!-- =======================
bloglist START --> 



<section class="section latest-news-area blog-list">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-7 col-12">
<div class="row">



 {% for blog in blogs %}
                        <!-- Card item START -->

<div class="col-lg-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".4s">
<div class="image">
<img class="thumb" src="{{blog.photo_url}}" alt="..." height="200" width="auto">
</div>
<div class="content-body">
                {% for tag in blog.tags.all %}
<a class="btn btn-outline-danger btn-sm" href="{% url 'tags' tag.name %}">{{ tag }} </a>
{% endfor %}
<h4 class="title mb-2"><a href="{{blog.get_absolute_url}}">{{blog.title}}.</a></h4>
<a href="{% url 'user-blog' blog.user.username %}">
<i class="lni lni-user  mx-2"></i>
{{blog.user.username}}
</a> 
<a >
<i class="lni lni-calendar mx-2"></i>
{{blog.created |naturalday}}
</a>
<p>{{blog.content | truncatewords_html:20}} </p>

</div>
</div>
{% comment %} <!--<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center position-relative">
                                                    <div class="avatar avatar-xs">
                                                        <img class="avatar-img rounded-circle" src="{{blog.user.user_profile.profile_url}}" alt="avatar">
                                                    </div>
                                                    <span class="ms-3">by <a href="{% url 'user-blog' blog.user.username %}" class="stretched-link text-reset btn-link">{{blog.user}}</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item"><i class="fa-sharp fa-regular fa-eye"></i>: {% get_hit_count for blog %} </li>
                                        <li class="nav-item"><i class="fa-sharp fa-regular fa-clock"></i> :{{blog.created | naturalday}}</li>
                                        <li class="nav-item"><i class="fa-sharp fa-regular fa-heart"></i>: {{blog.likes}}</li>
                                        <li class="nav-item">55,minutes read </li> -->
                                    </ul> {% endcomment %}
</div>
{% empty %}
no blog
 <!-- Card item END -->
                       {% endfor %}
                       
</div>
<!-- =======================
bloglist end -->

<!-- =======================
pagination start-->
<div class="pagination center">
<ul class="pagination-list">
     {% if page_obj.has_previous %}

<li><a href="?page={{ page_obj.previous_page_number }}"><i class="lni lni-chevron-left"></i></a></li>

 {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

<li><a href="?page={{ num }}">{{ num }}</a></li>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

<li><a href="?page={{ page_obj.next_page_number }}"><i class="lni lni-chevron-right"></i></a></li>
{% endif %}
</ul>
</div>
<!-- =======================
pagination end -->

</div>
<!-- =======================
bloglist end -->
<aside class="col-lg-4 col-md-5 col-12">
<div class="sidebar">
<div class="widget search-widget">
<h5 class="widget-title">Search Here</h5>

<form action="{% url 'search' %}" method="get">
<input type="search" name="q"  placeholder="Search Here...">
<button type="submit"><i class="lni lni-search-alt"></i></button>
</form>



{% comment %} <form action="{% url 'search' %}" method="get">
  <input type="search" name="q"  class="form-control" id="">
  <input type="submit" value="Search">
</form> {% endcomment %}

</div>
<div class="widget popular-feeds">
<h5 class="widget-title">Category's Most Viewed</h5>
 {% comment %} {% resent_blogs  as blogs %} {% endcomment %}
{% for blog in category_most_viewed %}

<div class="popular-feed-loop">
<div class="single-popular-feed">
<div class="feed-img">
<a><img src="{{blog.photo_url}}" alt=".."></a>
</div>
<div class="feed-desc">
<h6 class="post-title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
</h6>
<span class="time"><i class="lni lni-calendar"></i> {{blog.created|naturaltime}}</span>
</div>
</div>

{% empty %}
<div class="single-popular-feed">
<p>No Most Viewed Blog Per this Category</p>
</div>
{% endfor %}


</div>
</div>

<div class="widget popular-tag-widget">
<h5 class="widget-title">Popular Tags</h5>

<div class="tags">
    {% tags as tags %}
{% for tag in tags %}

<a href="{% url 'tags' tag.name %}">{{tag.name}}</a>
{% endfor %}
</div>
</div>

<div class="widget call-us">
<div class="content">
<h4>Call us need help?<span>01-2222-456</span></h4>
<div class="button">
<a href="#" class="btn">call us</a>
</div>
</div>
</div>

</div>
</aside>
</div>
</div>
</section>
 <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START -->
       
        <!-- =======================
Main content END -->



    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}