{% extends 'base.html' %}
{% block title %} Blogs {% endblock title %}
{% load static %}
{% load humanize %}
{% load popular_blogs %}
{% load hitcount_tags %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
breadcrumb START -->



<div class="breadcrumbs overlay">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Blogs</h1>
{% comment %} <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
been the industry's standard dummy text</p> {% endcomment %}
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav">
<li><a href="index.html">Home</a></li>
<li>Blogs</li>
</ul>
</div>
</div>
</div>
</div>
 <!-- =======================
breadcrumb end --> 




<!-- =======================
bloglist START --> 



<section class="section latest-news-area blog-list">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-7 col-12">
<div class="row">



 {% for blog in my_blogs %}
                        <!-- Card item START -->

<div class="col-lg-6 col-12">

<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".4s">
<div class="image">
<img class="thumb" src="{{blog.photo_url}}" alt="..." height="200" width="auto">
</div>
<div class="content-body">
                {% for tag in blog.tags.all %}
<a class="btn btn-outline-danger btn-sm" href="{% url 'tags' tag.name %}">{{ tag }} </a>
{% endfor %}
<h4 class="title mb-2"><a href="{{blog.get_absolute_url}}">{{blog.title}}.</a></h4>
<a>
<i class="lni lni-user  mx-2"></i>
{{blog.user.username}}
</a> 
<a >
<i class="lni lni-calendar mx-2"></i>
{{blog.created |naturalday}}
</a>
<p>{{blog.content | truncatewords_html:20}} </p>

</div>
</div>

</div>
{% empty %}


<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".4s">

<div class="content-body">
               
<p>No Blogs Found ! </p>

</div>
</div>


                       {% endfor %}
                       
</div>
<!-- =======================
bloglist end -->

<!-- =======================
pagination start-->
<div class="pagination center">
<ul class="pagination-list">
     {% if my_blogs.has_previous %}

<li><a href="?page={{ my_blogs.previous_page_number }}"><i class="lni lni-chevron-left"></i></a></li>

 {% if my_blogs.number > 3 %}
    <a href="?page=1">1</a>
    {% if my_blogs.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in my_blogs.paginator.page_range %}
  {% if my_blogs.number == num %}

<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
{% elif num > my_blogs.number|add:'-3' and num < my_blogs.number|add:'3' %}

<li><a href="?page={{ num }}">{{ num }}</a></li>
{% endif %}
{% endfor %}

{% if my_blogs.has_next %}
  {% if my_blogs.number < my_blogs.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ my_blogs.paginator.num_pages }}">{{ my_blogs.paginator.num_pages }}</a>
  {% elif my_blogs.number < my_blogs.paginator.num_pages|add:'-2' %}
    <a href="?page={{ my_blogs.paginator.num_pages }}">{{ my_blogs.paginator.num_pages }}</a>
  {% endif %}

<li><a href="?page={{ my_blogs.next_page_number }}"><i class="lni lni-chevron-right"></i></a></li>
{% endif %}
</ul>
</div>
<!-- =======================
pagination end -->

</div>
<!-- =======================
bloglist end -->
<aside class="col-lg-4 col-md-5 col-12">
<div class="sidebar">
<div class="widget search-widget">
<h5 class="widget-title">Search Here</h5>

<form action="{% url 'search' %}" method="get">
<input type="search" name="q"  placeholder="Search Here...">
<button type="submit"><i class="lni lni-search-alt"></i></button>
</form>



{% comment %} <form action="{% url 'search' %}" method="get">
  <input type="search" name="q"  class="form-control" id="">
  <input type="submit" value="Search">
</form> {% endcomment %}

</div>
<div class="widget popular-feeds">
<h5 class="widget-title">Popular Blogs</h5>
{% popular_blogs as blogs %}
{% for popular_blog in blogs %}

<div class="popular-feed-loop">
<div class="single-popular-feed">
<div class="feed-img">
<a><img src="{{popular_blog.photo_url}}" alt=".."></a>
</div>
<div class="feed-desc">
<h6 class="post-title"><a href="{{popular_blog.get_absolute_url }}">{{popular_blog.title}}</a>
</h6>
<span class="time"><i class="lni lni-calendar"></i> {{popular_blog.created|naturaltime}}</span>
</div>
</div>

{% empty %}

<p>No Recent Posted Blogs</p>

{% endfor %} 


</div>
</div>




</div>
</aside>
</div>
</div>
</section>
 <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START --> <!-- =======================
breadcrumb START -->
       
        <!-- =======================
Main content END -->



    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}