
{% load static %}

<footer class=footer>


<div class=footer-middle>
<div class=container>
<div class=row>
<div class="col-lg-4 col-md-4 col-12">

<div class="f-about single-footer">
<div class=logo>
<a href=index.html>
    {% comment %} Lovubi {% endcomment %}
   <img src="{% static 'images/logo/Lovubi1.png' %}" alt="" srcset="">
</a>
</div>
<p>Embrace a Transformative Journey by Unlearning the Lies, Demystifying Myths, and Embracing Truths.</p>
<div class=footer-social>
<ul>
<li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
<li><a href="#"><i class="lni lni-google"></i></a></li>
</ul>
</div>
</div>

</div>
<div class="col-lg-8 col-md-8 col-12">
<div class=row>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-footer sm-custom-border f-link">
<h3>Pages</h3>
<ul>
<li><a href="{% url 'about' %}">About Us</a></li>

<li><a href="{% url 'contact' %}">Contact Us</a></li>

</ul>
</div>

</div>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-footer sm-custom-border f-link">
<h3>Blog</h3>
<ul>
<li><a href="{% url 'blogs' %}">Blogs</a></li>
<li><a href="{% url 'add_blog' %}">Add Blogs</a></li>

</ul>
</div>

</div>

<div class="col-lg-4 col-md-6 col-12">

<div class="single-footer md-custom-border sm-custom-border f-link">
<h3>Legal</h3>
<ul>
    
<li><a href="https://www.privacypolicygenerator.info/live.php?token=1I6T08zO55cWOd47G9TUKBJM79WZwqha">Privacy Policy</a></li>
<li><a href="https://www.termsandconditionsgenerator.com/live.php?token=rhNa8caApbhsQvaVcvQ6ejYwcSR9plIz">Terms & Conditions</a></li>
{% comment %} <li><a href="#">Support Team</a></li> {% endcomment %}

</ul>
</div>

</div>
</div>
</div>
</div>
</div>
</div>




</footer>
