
{% load static %}
{% load admin_urls %}
{{ redirect_to_login_immediately }}
 <!-- Start Header Area -->
 {% with request.resolver_match.url_name as url_name %}
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{% url 'home' %}">Lovubi</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="lni lni-menu open"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-autjo mb-2 mb-lg-0">
                                  <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>                                       
                                    </li> 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'blogs' %} active {% endif %}" href="{% url 'blogs' %}">Blogs</a>                                       
                                    </li> 
                                     <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'add_blog' %} active {% endif %}" href="{% url 'add_blog' %}">Post Blog</a>
                                    </li>
                                    
                                     <li class="nav-item">
                                        <a class="nav-link {% if url_name == 'about' %} active {% endif %}" href="{% url 'about' %}">About Us </a>
                                    </li> 
                                     <li class="nav-item">
                                        <a class="nav-link {% if url_name == 'contact' %} active {% endif %}" href="{% url 'contact' %}">Contacts Us</a>
                                    </li> 

                                     
                                    {% if user.is_authenticated %}
                                     <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                           {{user.username}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            
                                          
                                                {% if user.is_staff %}
                                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a></li> 
                                            {% endif %}
                                           <li><a class="dropdown-item {% if url_name == 'my-blogs' %} active {% endif %}" href="{% url 'my-blogs' %}">My blogs</a></li> 
                                           <li><a class="dropdown-item {% if url_name == 'bookmarks' %} active {% endif %}" href="{% url 'bookmarks' %}">Bookmarks</a></li> 
                                           
                                            <li><a class="dropdown-item {% if url_name == 'user-profile' %} active {% endif %}" href="{% url 'user-profile' user.user_profile.slug %}">Profile</a></li> 
                                            <li><a class="dropdown-item {% if url_name == 'logout' %} active {% endif %}" href="{% url 'account_logout' %}">Sign Out</a></li> 
                                       
                                        </ul>
                                    </li>
                                    
                                    {% else %}
 <li class="nav-item">
                                        <a class="nav-link {% if url_name == 'account_login' %} active {% endif %}" href="{% url 'account_login' %}">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if url_name == 'account_signup' %} active {% endif %}" href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                    {% endif %}
                                   

                                </ul>
                              
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endwith %}
    <!-- End Header Area -->