
{% load static %}
{% load admin_urls %}
{{ redirect_to_login_immediately }}
 <!-- Start Header Area -->
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html"><img src="{% static 'images/fav/favicon-32x32.png' %}"
                                    alt="#">Lifestyle</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="lni lni-menu open"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-autjo mb-2 mb-lg-0">
                                  <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>                                       
                                    </li> 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'blogs' %} active {% endif %}" href="{% url 'blogs' %}">Blogs</a>                                       
                                    </li> 
                                     <li class="nav-item dropdown">
                                        <a class="nav-link {% if url_name == 'add_blog' %} active {% endif %}" href="{% url 'add_blog' %}">Post Blog</a>
                                    </li>
                                    {% comment %} {% if user.is_authenticated and user.role == 'clients' %}
                                    <li class="nav-item dropdown">
                                        <a class="{% if url_name == 'kazi' %} nav-link active {% endif %}" href="{% url 'my-tasks' %}">My Tasks </a>
                                    </li>
                                    {% elif user.is_authenticated and user.role != 'clients'  %}
                                     <li class="nav-item dropdown">
   <a class="{% if url_name == 'kazi' %} nav-link active {% endif %}" href="{% url 'kazi' %}">Tasks </a>
   </li>
                                    {% endif %} {% endcomment %}
                                    
                                   
                                   {% comment %} {% if user.is_authenticated and user.is_staff %} {% endcomment %}
                                     {% comment %} <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Assigments
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url 'assigned-tasks' %}">All Assignments</a></li>
                                             <li><a class="dropdown-item" href="{% url 'my-assigned-tasks' %}">My assigment</a></li>
                                             
                                        </ul>
                                    </li>  {% endcomment %}
                                   {% comment %} {% endif %} {% endcomment %}
                                    
                                   
                                    {% comment %} <li class="nav-item dropdown">
                                        <a class="{% if url_name == 'service' %} nav-link active {% endif %}" href="{% url 'services' %}">Services</a>
                                    </li> {% endcomment %}
                                   
                                     <li class="nav-item">
                                        <a class="nav-link" href="{% url 'about' %}">About Us </a>
                                    </li> 
                                     <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contact' %}">Contacts Us</a>
                                    </li> 

                                     
                                    {% if user.is_authenticated %}
                                     <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                           {{user.username}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            
                                          
                                                {% if user.is_staff %}
                                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a></li> 
                                            {% endif %}
                                           <li><a class="dropdown-item" href="{% url 'my-blogs' %}">My blogs</a></li> 
                                           <li><a class="dropdown-item" href="{% url 'bookmarks' %}">Bookmarks</a></li> 
                                           
                                            <li><a class="dropdown-item" href="{% url 'user-profile' user.user_profile.slug %}">Profile</a></li> 
                                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li> 
                                       
                                        </ul>
                                    </li>
                                    
                                    {% else %}
 <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                    {% endif %}
                                   

                                </ul>
                              
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- End Header Area -->