{% extends 'base.html' %}
{% block title %}Blog Detail{% endblock title %}
{% comment %} {% load 'static' %} {% endcomment %}
{% comment %} {% load hitcount_tags %} {% endcomment %}
{% load crispy_forms_tags %}
{% block content %}

<div class="breadcrumbs overlay">
<div class=container>
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class=breadcrumbs-content>
<h1 class=page-title>Team Details</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
been the industry's standard dummy text</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class=breadcrumb-nav>
<li><a href=index.html>Home</a></li>
<li>Team Details</li>
</ul>
</div>
</div>
</div>
</div>


<section class="team-details section">
<div class=container>
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class=image>
<img src="{{profile.profile_url}}" alt="..." height="300" width="300">
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<div class=content>





<h3 class=name>{{profile.firstname}} {{profile.lastname}}</h3>
<p class=des>{{profile.bio}}</p>
<ul class=personal-info>
    
   
<li><span>Phone : </span> 
     {% if  profile.tell %}
    {{profile.tell}}

 {% endif %}</li>

<li><span>Email : </span> <a href=""><span class="__cf_email__" data-cfemail="ea8985849e8b899eaa93859f98878b8386c4898587">{{user.email}}</span></a>
</li>


<li><span>Gender : </span>
    {% if profile.gender %}
     {{profile.gender}} {% endif %}</li>



<li><span>Date Of Birth : </span> {% if profile.dob %} {{profile.dob}} {% endif %}</li>



<li><span>Website : </span>{% if profile.website %} <a href="{{profile.website}}">{{profile.website}}</a> {% endif %}</li>



<li><span>Address : </span>{% if profile.location %} {{profile.location}} {% endif %}</li>

</ul>

<ul class=social>

    {% if profile.facebook %}
<li><a href="{{profile.facebook}}"><i class="lni lni-facebook-original"></i></a> </li>{% endif %} 


{% if profile.twitter %}
<li><a href="{{profile.twitter}}"><i class="lni lni-twitter-original"></i></a> </li>{% endif %} 


{% if  profile.instagram %}
<li><a href="{{profile.instagram }}"><i class="lni lni-behance-original"></i></a> </li>{% endif %} 


{% if profile.website  %}
<li><a href="{{profile.website}}"><i class="lni lni-instagram"></i></a> </li>{% endif %} 

</ul>
<ul class="mt-2">
 <li> <a href="{% url 'update-profile' profile.slug %}" class="btn btn-outline-info">Change Profile</a> <br></li>
</ul>

</div>
</div>
</div>

</div>
</section>


{% endblock content %}